SECRET_KEY=mysecretkey
SERVER_NAME=localhost:5000
PREFERRED_URL_SCHEME=http
SQLALCHEMY_DATABASE_URI=sqlite:///database.db
UPLOAD_FOLDER=static
SQLALCHEMY_TRACK_MODIFICATIONS=False
USER=admin
PASS=admin123
SENDER_EMAIL=sender@gmail.com
RECEIVER_EMAIL=receiver@gmail.com
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=mail@gmail.com
SMTP_PASS=cifxjtvbuzzajhxu