{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="container mt-4">
    {% if not clients %}
        <p class="h4 text-center">Нет добавленных клиентов</p>
    {% endif %}
    <div class="row">
        {% for client in clients %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ client.name }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
