{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="container mt-4">
    {% if not client %}
        <p class="h4 text-center">Добавьте данные в профиле</p>
    {% else %}
        <p><strong>Наименование: </strong>{{ client.name }}</p>
        <p><strong>Последнее обновление CSV: </strong>
            {% if client.created_at %}
                {{ client.created_at.strftime('%d.%m.%Y, %H:%M') }}
            {% else %}
                Файл еще не загружен
            {% endif %}
        </p>
        <p><strong>Частота проверки: </strong>Каждые {{ client.check_frequency }} часов</p>
        <p><strong>Автоматическая проверка: </strong>{% if client.auto_check %}Включена{% else %}Отключена{% endif %}</p>
        {% if client.created_at and not client.auto_check %}
            <div class="mt-4 text-left">
                <form action="{{ url_for('start_check') }}" method="POST">
                    <button type="submit" class="btn btn-primary">Запустить проверку вручную</button>
                </form>
            </div>
        {% endif %}
        {% if not keywords %}
            <p class="text-center text-danger">Добавьте ключевые слова в профиле</p>
        {% endif %}
        {% if affiliates %}
            <div class="mt-5">
                <h4>Список адресов</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">№</th>
                            <th class="text-center">Адрес</th>
                            <th class="text-center">Результат</th>
                            <th class="text-center">Время</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for affiliate in affiliates %}
                            <tr>
                                <td class="text-center">{{ loop.index }}</td>
                                <td class="text-center">{{ affiliate.address }}</td>
                                <td class="text-center {% if affiliate.result == 'OK' %}text-success{% elif affiliate.result == 'Неизвестно' %}text-muted{% else %}text-danger{% endif %}">
                                    {{ affiliate.result }}
                                </td>
                                <td class="text-center {% if affiliate.check_time == 'Неизвестно' %}text-muted{% endif %}">
                                    {% if affiliate.check_time != 'Неизвестно' %}
                                        {{ affiliate.check_time | custom_time_format }}
                                    {% else %}
                                        {{ affiliate.check_time }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>                    
                </table>
            </div>
        {% else %}
            <p class="text-center text-danger">Загрузите филиалы в профиле</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
