{% extends "base.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="container mt-4">
    <p class="h4 text-center">
        {% if client %}
            Редактирование профиля
        {% else %}
            Добавление новой организации
        {% endif %}
    </p>
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name" class="font-weight-bold">Наименование</label>
            <input type="text" class="form-control" id="name" name="name" 
                   value="{{ client.name if client else '' }}" maxlength="64">
            <small class="form-text text-muted">Укажите наименование своей организации</small>
        </div>
        <div class="form-group mt-4">
            <label for="period" class="font-weight-bold">Частота проверки</label>
            <div class="input-group">
                <input type="number" class="form-control" id="period" name="period" min="8" max="168" step="1" value="{{ client.check_frequency if client and client.check_frequency else 8 }}">
                <div class="input-group-append">
                    <span class="input-group-text">часов</span>
                </div>
            </div>
            <small class="form-text text-muted">Укажите частоту проверки в диапазоне от 8 до 168 часов</small>
        </div>
        <div class="form-group">
            <label for="file" class="font-weight-bold">
                {% if file_exists %}
                    Обновить данные CSV
                {% else %}
                    Прикрепить данные CSV
                {% endif %}
            </label>
            <input type="file" class="form-control-file" id="file" name="file" accept=".csv">
            <small class="form-text text-muted">
            {% if file_exists %}
                Прикрепите файл CSV для обновления данных
            {% else %}
                Прикрепите файл CSV для загрузки данных
            {% endif %}</small>
        </div>
        <button type="submit" class="btn btn-primary mt-3">
            Сохранить
        </button>
    </form>
</div>
{% endblock %}
